.submit__free__lesson__form {
    max-width: 70%;
    margin: 0 auto;
}

.submit__free__lesson__form h2 {
    text-align: center;
}

.submit__free__lesson__form input {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 0 5px #ddd inset;
    color: #888;
    font-size: 16px;
    font-weight: 300;
    padding: 10px;
    width: 100%;
}

.submit__free__lesson__form input:focus {
    outline: 0;
    border: 1px solid #aaa;
}

.form__group {
    margin-bottom: 1.5em;
}

.form__group td{
    width: 100%;
}

.input__header {
    margin: 1em 0 .5em;
    font-size: 18px;
}

.fio td {
    width: 50%;
}

.input__header.required::after {
    content: '*';
    padding: 0 5px;
    font-size: 18px;
}

.input__with__label {
    flex-grow: 1;
}

.input__label {
    font-size: 14px;
    padding-left: 5px;
    padding-top: 2px;
}

.margin__right {
    margin-right: 2em;
}

.birthday td {
    width: 30%;
}

#submit__lesson__form {
    margin: 2em auto 0;
    background-color: #31c8fd;
    border: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 16px 24px;
    width: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
}

#submit__lesson__form:hover {
    background-color: #b8dd42;
    color: #fff;
}

.submit__message {
    margin: 20px;
    text-align: center;
}