.table__wrapper {
    display: none;
}

.table__wrapper.active {
    display: block;
}

.small__table__wrapper {
    display: none;
}

#age__selector li {
    list-style: none;
    padding: 0;
    margin: 0 5px;
    cursor: pointer;
}

#age__selector #selected__age {
    padding: 15px;
    width: 200px;
    background-color: #96a6f7;
    color: #fff;
    font-weight: 600;
    position: relative;
}

#selected__age:hover {
    background-color: #4dcfff;
}

.selected__age__icon::after {
    content: "˅";
    float: right;
    padding-right: 15px;
}

#selected__age:hover .selected__age__icon::after {
    content: "˄";
}

.showed__age {
    padding-left: 15px;
    cursor: pointer;
}

.age__tabs {
    padding: 7px 0;
    margin-top: 15px;
    position: absolute;
    z-index: 10;
    left: 0;
    width: 100%;
    background-color: #4dcfff;
}

.age__tabs.hidden {
    display: none;
}

.age__tabs li:not([class="selected"]) {
    font-weight: 100;
}

.age__tabs li:hover {
    background-color: #96a6f7;
}

.age__tabs a {
    text-decoration: none;
    color: #FFF;
    display: block;
    padding: 10px;
}

#timetable__table__container {
    color: #7e1679;
}

.timetable__table {
    width: 100%;
}

.timetable__table th, .timetable__table td {
    width: calc(100%/7);
    text-align: center;
    font-size: 14px;
    position: relative;
    cursor: default;
}

.cell__wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100% + 0px);
    height: calc(100% + 2px);
}

.row__head th {
    padding: 5px 0;
    background-color: #fff;
    text-transform: uppercase;
}

.event__container {
    z-index: 1;
    position: inherit;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #F9E0FE;
    border-bottom: 1px solid #F9E0FE;
}

.event__container > div {
    margin: 5px 0;
}

.subject__name {
    font-weight: 600;
}

.subject__hours {
    display: flex;
    justify-content: space-around;
}

.hidden {
    display: none !important;
}

.row__1 {
    background-color: #D7FFD7;
}

.row__2 {
    background-color: #F2D7FF;
}

.row__3 {
    background-color: #FFFFBF;
}

.row__4 {
    background-color: #EEFFCA;
}

.row__5 {
    background-color: #CFF2FE;
}

.row__6 {
    background-color: #AAFF55;
}

.row__7 {
    background-color: #FFEFB0;
}

.row__8 {
    background-color: #C5F0FE;
}

.row__9 {
    background-color: #FFFFEA;
}

.row__10 {
    background-color: #D5FFFF;
}

.row__11 {
    background-color: #DBE954;
}

@media screen and (max-width: 678px) {
    .small__table__wrapper {
        display: block;
    }

    .timetable__table {
        display: none;
    }

    .small__table__day {
        margin-top: 60px;
    }

    .small__table__day__subjects {
        padding: 0;
    }

    .small__table__subject__wrapper {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: .5em 1em;
        border-bottom: 1px solid #fff;
        font-size: 14px;
        cursor: default;
        align-items: center;
    }

    .small__table__subject__wrapper:hover {
        background-color: #b5e7fe;
    }

    /*.small__table__subject__wrapper:first-child {*/
        /*display: none;*/
    /*}*/
}
